*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* --------App.js--------- */
.app{
  overflow: hidden;
  background-color: #F8F9FA;
}
/* ---------End App.js---------- */

/* --------------- Navigation----------------- */
.nav-img{
  width: 70%;
}
.navbar-collapse .navbar-nav{
 text-align: right;
 float: right;
}
.navbar-collapse .navbar-nav a{
  font-size: 20px;
  color: black;
}
nav{
  background-color: #ffffff;
  
}
.nav-item .nav-link{
  color: #000000;
}
/* nav .active{
  border-bottom: 8px solid #4DC942;
} */
/* --------------------End Navigation--------------------------- */

/* --------------------Menu------------------------------ */
.menu{
  background-color: #ffffff;
}
.menu .col-md-2{
  border: 1px solid rgb(217, 214, 214);
  border-top: none;
}
 .col-md-2 button:focus{
  border: none;
}
.col-md-2 input:focus{
  outline: 0px none #ffffff !important;
}
.col-md-2 input{
  width: 160px;
  font-size: 15px;
}
/* .col-md-2 ul{
  list-style: none;
}
.col-md-2 ul li a{
  text-decoration: none;
  color: black;
  font-size: 9.5px;
  font-weight: bold;
  text-transform: uppercase;
}
.col-md-2 ul ul{
  display: none;
}
.col-md-2 ul li:hover > ul{
  display: inherit;
} */
.delete .delete-icon{
  background-color: #4DC942;
  color: #ffffff;
  float: right;
  width: 50px;
  height: 45px;
}
/* ------------------End Menu ------------------------ */

/* ----------------------Event1------------------------ */
#carouselExampleControls{
  background-color: #ffffff;
  height: 100%;
}
.p-event1{
     padding: 20px;
     margin: 5px;
}
.img-event1{
  margin: 10px;
  width: 20px;
}
.alarm{
  margin: 10px;
} 
/* .p-alarm{
  padding-top: 50px;
  margin: 5px;
} */
.tof-event1{
  width: 100%;
}
/* ---------------------End Event1----------------------------- */

/* -------------------------Event2, 3, 4---------------------------- */
.rect1{
  height: 178px;
}
h6{
  font-size: 13px;
}
.a-event a{
    text-decoration: none;
    color: #4DC942;
}
/* -----------------------End Events2, 3, 4------------------------- */

/* ------------------------Footer--------------------------------- */
/* .bg-dark .col-md-6 .f-droite{
  float: right;
} */


  .bg-dark .col-md-3 .bg-white{
  border-radius: 6px;
}  
.bg-dark .col-md-3 .f-droite img{
   margin: 5px;
   align-items: center;
} 
.footer-hr{
  color: white;
  font-weight: 900;

}
.f-job{
  height: 70px;
}
.footer p{
  font-size: 15px;
  float: left;
}
/* ------------------------End footer-------------------------------- */